#typing {
    position: fixed;
    bottom: 12%;
    left: -20px;
    display: inline-flex;
    align-items: center;
    height: 30px;
    width: 120px;
    padding: 10px 0px 10px 25px;
    border-radius: 0 20px 20px 0;
}


#alert-center-div {
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 50px;
    z-index: 99999;
    /*pointer-events: none;*/
}

#alert-center-div .progress {
    width: -webkit-fill-available;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
}

.alert-center {
    border-radius: 15px;
    text-align: center;
    width: fit-content;
}

.img_active {
    border: 2px solid var(--danger-color);
}

.img_active1 {
    border: 2px solid var(--primary-color);
}

.full-wdith-img {
    width: 100%;
    padding: 10px;
}

@font-face {
    font-family: janFont;
    src: url(../fonts/KosugiMaru-Regular.ttf);
}
/*background-color: #1d2023;*/
:root {
    /*--dm-navbar-bg-color: unset;*/
    /*--lm-base-body-bg-image: linear-gradient(rgb(35 35 35 / 50%), rgb(111 111 111)),url(../res/bg.jpg),url(../res/bg.jpg);*/
    --lm-base-body-bg-color: transparent;
    --lm-navbar-bg-color: unset;
    --lm-table-striped-bg-color: unset;
    --lm-table-border-color: unset;
    --lm-button-bg-color: unset;
    --lm-sidebar-bg-color: unset;
    --lm-button-primary-border-color: transparent;
    --lm-button-primary-bg-color: #4ca9ff47;
    /*--dm-base-body-bg-image: url(../res/bg.jpg);*/
}

li {
    cursor: pointer;
}

#bottom_music .cover {
     -webkit-animation:run 6s linear 0s infinite;     
}

.paused {
   -webkit-animation-play-state:paused !important;     
}

 @-webkit-keyframes run{     
    from{     
        -webkit-transform:rotate(0deg);     
    }     
    to{     
        -webkit-transform:rotate(360deg);     
    }     
}     

body {
    overflow: hidden;
    color: #fff;
    max-width: 700px;
    display: none;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    font-family: janFont, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (min-width: 700px) {
  body {
    left: calc((100vw - 700px) / 2);
  }
}


@media (min-width: 1580px) {
  .sidebar {
    display: none !important;
  }
}

@media (width: 1920px) {
    #image_div {
        position: fixed;
        width: calc(100vw - 700px);
        left: 700px;
        height: 90%;
    }
    #image {
        position: absolute;
        left: 0;
        padding: 10px;
    }
    button[data-action="fullContnet"] {
        display: none;
    }
    canvas {
        padding: 10px;
    }
    body {
        left: unset;
      }
}


.mirrorRotateLevel {
    /* 水平镜像翻转 */
    transform: rotateY(180deg) !important;
    -moz-transform: scaleX(-1) !important;
    -webkit-transform: scaleX(-1) !important;
    -o-transform: scaleX(-1) !important;
    transform: scaleX(-1) !important;
    /*兼容IE*/
    filter: FlipH !important;
    ;
}

.mirrorRotateVertical {
    /* 垂直镜像翻转 */
    transform: rotateX(180deg) !important;
    -moz-transform: scaleY(-1) !important;
    -webkit-transform: scaleY(-1) !important;
    -o-transform: scaleY(-1) !important;
    transform: scaleY(-1) !important;
    /*兼容IE*/
    filter: FlipV !important;
}



::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-track {
    width: 5px;
    background: rgba(#101F1C, 0.1);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, .5);
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    transition: background-color .3s;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(144, 147, 153, .3);
}



.icons i {
    width: 39px;
    height: 39px;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
}

.icons i:hover {
    background-color: #404040;

}

.changed {
    border: 1px solid red !important;
}

.playing {
    border: 0.5px solid var(--primary-color);
}

#ftb_confirm {
    position: fixed;
    bottom: 15%;
    right: 5%
}
/*
#ftb_icons {
    z-index: 9999;
    position: fixed;
    top: 5%;
    left: 0;
    width: 100%;
    text-align: center;
}

#ftb_icons button {
    margin-left: 15px;
    margin-right: 15px;
    line-height: 5px;
}*/

#ftb_confirm i {
    font-size: 2rem;
    padding: 10px;
}

#content .row {
    margin-bottom: 10px;
}

.inputstyle {

    width: 144px;

    height: 41px;

    cursor: pointer;

    font-size: 30px;

    outline: medium none;

    position: absolute;

    filter: alpha(opacity=0);

    -moz-opacity: 0;

    opacity: 0;

    left: 0px;

    top: 0px;

}

.fullwidth {
    width: 100%;
    height: 100%;
}

.viewer-backdrop {
    background-color: rgba(0, 0, 0, 1);
}

.user-icon {
    width: 25px;
    height: 25px;
}

#sidebar_icons_float {
    position: absolute;
    right: 5%;
    bottom: 0;
}

#modal_icons_float {
    position: absolute;
    right: 7%;
    bottom: 2%;
}

#sidebar_icons_float a {
    margin-bottom: 10px;
}

#modal_icons_float a {
    margin-bottom: 10px;
}

.thumb {
    width: 150px;
}

#ftb {
    position: fixed;
    right: 5%;
    bottom: 10%;
    display: none;
    z-index: 9999;
}


.badge_rt {
    position: absolute;
    top: -5px;
}


.cover {
    width: 50px;
    height: 50px;
}

#bottom_music .icons i {
    font-size: 2rem;
}

.hide {
    display: none;
}

#status {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: -7px;
    right: 7px;
}

#modal-stricker button img {
    width: 20px;
    height: 20px;
}

#modal-stricker .col-4 img,
#bottom_stricker img {
    width: inherit;
    padding: 10px;
    user-select: none;
    -webkit-user-drag: none;
}

.selected {
    border: 1px solid var(--dm-button-primary-border-color-hover);
}

.h-125 {
    height: 125px;
    max-height: 125px;
}

#days_tabs button {
    margin-right: 10px;
}

.div-photo img {
    width: 100%;
    margin-bottom: 10px;
}

.color-dot {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 0.5px solid #6d6d6d;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

canvas {
    pointer-events: none;
    display: none;
    position: absolute;
    z-index: 2;
}